
.hotelPage * {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* color: white; */
}
.hotelPage .presentation {
    background-image: url('../../public/images/background.jpg');
    background-size: cover; /* Ajuste l'image pour qu'elle couvre toute la page */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    background-position: center center; /* Centre l'image */
    margin: 0; /* Enlève les marges par défaut */
    padding: 0; /* Enlève les paddings par défaut */
    height: 100vh; /* Assure que le body couvre toute la hauteur de la fenêtre */
}

.hotelPage header{
    font-size: 25px;
    padding: 0;
}
.hotelPage nav {
    display: flex;
    flex-direction: row;
    /* justify-content:flex-end; */
    /* align-items: flex-start; */
    background-color: white;
}

.hotelPage nav ul{
    display: flex;
    list-style: none;
    margin: auto;
}
.hotelPage nav ul li{
    margin: 30px;
}
    
.hotelPage #logo{
    display:inline-block ;
    width: 70px;
    border-radius: 50px;
    margin: 15px 0px 15px 15px;
}
    
.hotelPage nav a{
    text-decoration: none;
    color: black;
}
    
    /* span{
        color: black;
    } */
    
.hotelPage #bg-img{
    width: 100%;
    height: 60vh;
    filter:brightness(0.7);
    /* opacity: 1.9; */
}

.hotelPage .img-container{
    position: relative;
}

.hotelPage .img-container > p{
    color: white;
    font-size: 40px;
    position: absolute;
}

.hotelPage .img-container p:nth-of-type(2){
    color: white;
    font-size: 10px;
    position: absolute;
}
.hotelPage form{
    position: relative;
    left: 20%;
    bottom: 30px;
    border: solid 1px gray;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    /* margin: auto; */
}
.hotelPage form input{
    height: 40px;
    color: gray;
    /* border-collapse: collapse; */
}
.hotelPage .form-div{
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    /* width: 100px; */
}

.hotelPage .form-p{
    padding: 10px;
    height: 25px; 
}

.hotelPage section{
    /* text-align:center ; */
    font-style: italic;
    margin-bottom: 20px;
}
.hotelPage section > p, .hotelPage section >h2{
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
}
.hotelPage .horizontal-card-container{
    display: flex;
    justify-content: space-around;
}
.hotelPage .horizontal-card{
    display: flex;
    max-width: 27em;
    flex-direction: row;
    max-height: 20em;
    /* position: relative; */
    justify-content: space-between;
    background-color: #0D1821;
    color: white;
    /* padding: 10px; */
}

.hotelPage .horizontal-card img{
    border-radius: 5px;
    width:  50%;
    margin: 5px;
    /* height: 12em; */
    /* margin: auto; */
    /* margin-left: 5px; */
    /* padding: 1em 0 1em 1em;  */
}

.hotelPage .bn-primary{
    /* margin: auto; */
    position: relative;
    left: 50px;
}

.hotelPage a{
    text-decoration: none;
}
.hotelPage .horizontal-card a:hover{
    color: #0370FF;
    text-decoration: underline;
}